@font-face {
  font-family: 'specialelite';
  src: url('~@/assets/fonts/SpecialElite-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'vcrosdmono';
  src: url('~@/assets/fonts/VcrOsdMono-Regular.ttf') format('truetype');
}